
.logo-container {
  flex: 1;
  display: flex;
  position: absolute;
  left: 150px;
  top: 150px;
}

.logo {
  width: 1000%;
  max-width: 300px;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 590px;
  background: linear-gradient(#1ca3d8,#1b50f0);
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #541616;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  padding: 10px;
  margin: auto;
  text-align: auto;
  width: 600px;
  position: absolute;
  right: 0px;
  height: 100vh;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:9px;
  width: 100%;
  margin-top: 30px;
  color: #4c00b4;
  font-size: 48px;
  font-weight: 700;
}

.inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #a8bdbd;
  border-radius: 6px;
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 480px; 
  margin: auto;
  height: 80px; 
  margin-bottom: 20px;
}

.checkbox input {
  margin-right: 30px;
}

.checkbox-label {
  font-size: 16px; 
  color: #333; 
  font-weight: 500; 
}

.input img{
  margin: 0px 30px;
}

.input input{
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password{
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forgot-password span{
  color: #4c00b4;
  cursor: pointer;
}

.submit-container{
  display: flex;
  gap: 30px;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  margin:auto
}

.gray{
  background: #a7c7c7;
  color: #676767;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}